body {
    margin: 0;
    background: #ee6959;
}

::selection {
    background: #fba680;
    color: #ffdac3;
}

img {
    margin: 1em auto 1em auto;
    display: block;
    max-width: 1110px;
    max-height: 350px;
}

div {
    font-size: 13pt;
    font-family: "Segoe UI", "Tahoma", "Arial", sans-serif;
    color: #222;
    line-height: 17pt;
}

div.main {
    width: 75%;
    background: #fff;
    margin: 0em auto 0em auto;
    display: block;
    padding: 2em 5em 8em 5em;
}

div.footer {
    margin-bottom: 10em;
    background-color: #333;
    width: 75%;
    margin: 0em auto 10em auto;
    padding: 2.5em 5em 2.5em 5em;
    color: #fff;
}

.footer p {
    font-family: Consolas, "Courier New", monospace;
    font-size: 11pt;
    float: left;
    margin-top: -4em;
    color: #bdbdbd;
}

.footer img {
    margin: 0 0 0 auto;
}

p, a, h1, h2, h3, div.container, b, i {
    max-width: 1100px;
    margin: 1em auto 0.5em auto;
}

a {
    color: #aaa;
    text-decoration: none;
    display: block;
}

a:hover {
    color: #ee6959;
    text-decoration: underline;
}

h1 {
    font-family: "Segoe UI Light", Arial, sans-serif;
    font-weight: normal;
    font-size: 40pt;
    margin-bottom: 40pt;
    text-shadow: #d6d6d6 3px 3px 15px;
}

img.back {
    display: inline;
    margin: auto;
    width: 12px;
    margin-right: 4px;
}

h2 {
    font-family: "Segoe UI", Tahoma, Arial, Sans-serif;
    font-weight: lighter;
    margin-top: 2em;
    font-size: 22pt;
    color: #000;
    margin-bottom: 1em;
    display: block;
    border-bottom: #ee6959 1px solid;
    padding: 0.45em 0;
}

p.code {
    background: #fbfbfb;
    padding: 2.5em 3.5em;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 11pt;
    color: #555;
    font-family: Consolas, "Courier New", monospace;
} 

comment {
    color:#ccc;
} 

marked {
    color:#ee6959;
}

h3 {
    border-top: solid 1px #efefef;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: -0.5em;
    color: #000;
    font-weight: normal;
    font-size: 15pt;
    font-family: "Segoe UI Semibold", "Segoe UI", Tahoma, sans-serif;
}

table {
    max-width: 1100px;
    margin: 1em auto 0.5em auto;
    min-width: 75%;
    background-color: #f9f9f9;
    color: #333;
    border-collapse: collapse;
}

td {
    border-collapse: collapse;
    border: solid 2px #eaeaea;
    padding: 1em;
}

td p, td b, td i {
    margin: 0;
}